@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu-options {
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -83px;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.menu-options p {
  font-size: 23px;
  margin: 10px 55px;
  cursor: pointer;
}

nav {
  padding: 15px;
  background-color: black;
  display: flex;
  border-bottom: 3px solid red;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.menu-tab {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.menu-tab > span {
  width: 100%;
  height: 5px;
  background-color: grey;
  position: absolute;
  border-radius: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.menu-tab > span:nth-child(1) {
  top: 25%;
}

.menu-tab > span:nth-child(3) {
  top: 75%;
}

.menu-tab.click span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-tab.click span:nth-child(2) {
  opacity: 0;
}

.menu-tab.click span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-options.click {
  top: 83px;
  opacity: 1;
}

.contact {
  padding: 20px;
  background-color: rgb(196, 196, 201);
  position: fixed;
  top: 200px;
  /* left: 38%; */
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
  left: 38%;
  transform: translateX(-38%);
}

.first {
  margin: 15px 0px;
  font-size: 17px;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}