@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.housing {
  width: 100%;
  /* height: 100vh; */
}

.menu-options {
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -83px;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 5;
  opacity: 0;
}

.menu-options p {
  font-size: 25px;
  margin: 15px 20px;
  cursor: pointer;
  padding: 15px 30px;
  font-family: Poppins;
}

nav {
  padding: 15px;
  background-color: black;
  display: flex;
  border-bottom: 3px solid red;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.menu-tab {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.menu-tab > span {
  width: 100%;
  height: 5px;
  background-color: grey;
  position: absolute;
  border-radius: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.menu-tab > span:nth-child(1) {
  top: 25%;
}

.menu-tab > span:nth-child(3) {
  top: 75%;
}

.menu-tab.click span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-tab.click span:nth-child(2) {
  opacity: 0;
}

.menu-tab.click span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-options.click {
  top: 83px;
  opacity: 1;
}

.contact {
  padding: 20px;
  background-color: rgb(235, 235, 238);
  position: fixed;
  top: 200px;
  left: 32%;
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
  z-index: 4;
}

.first {
  margin: 15px 0px;
  font-size: 17px;
  transition: 0.4s ease;
  font-family: Poppins;
}

.homeOpt {
  padding: 20px 50px;
  background-color: rgb(235, 235, 238);
  position: fixed;
  top: 200px;
  left: 24%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
  z-index: 4;
}

.homeOpt div {
  margin: 20px;
  font-size: 17px;
  font-family: Poppins;
  transition: 0.4s ease;
}

.admissions {
  padding: 20px 30px;
  background-color: rgb(235, 235, 238);
  position: fixed;
  top: 200px;
  left: 44%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
  z-index: 4;
}

.admissions div {
  font-size: 17px;
  margin: 15px 0px;
  font-family: Poppins;
  transition: 0.4s ease;
}

.admissions div:hover,
.homeOpt div:hover,
.first:hover {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 2;
}

img {
  width: 100%;
  margin-top: 95px;
}

.frame {
  display: none;
}

.prev, 
.next {
  width: auto;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: -11%;
  margin-top: 48%;
  cursor: pointer;
  padding: 18px;
  transition: 0.6s ease;
  border-radius: 0px 8px 8px 0px;
  user-select: none;
  color: white;
}

.next {
  right: 0;
  border-radius: 8px 0px 0px 8px;
}

.next:hover, 
.prev:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.caption {
  position: absolute;
  font-size: 20px;
  color: white;
  font-family: Poppins;
  width: 100%;
  text-align: center;
  bottom: 8px;
  font-weight: 600;
  padding: 8px 12px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  cursor: pointer;
  margin: 0px 5px;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.anime {
  animation-name: anime;
  animation-duration: 1.5s;
}

.slideDot {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes anime {
  from {opacity: .4}
  to {opacity: 1}
}